@page "/"
@using SBShared.Models;
@using SvcBussSender.Services;
@*@using Microsoft.Extensions.Logging*@
@inject IQueueService queue; 
@*only doing above this way for sake of tutorial, should be done in library or some other way*@

@*@inject ILogger</pageName> Logger*@



<h1>Azure ServiceBuss Message Transfer</h1>
<h3>Sending person to console app...</h3>



<EditForm  EditContext="@editContext" OnValidSubmit="@PublishMessage">
    <DataAnnotationsValidator />
    <ValidationSummary />
  
    <div class="form-group">
        <label for="firstName">First Name</label>
        <InputText class="form-control" id="firstName" @bind-Value="person.FirstName"></InputText>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <InputText class="form-control" id="lastName" @bind-Value="person.LastName"></InputText>
    </div>
    <button type="submit">Send Message</button>

</EditForm>

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    private PersonModel person = new();
    private EditContext? editContext;

    protected override void OnInitialized()
    {
        editContext = new (person);
    }

    private async Task PublishMessage()
    {
        //Logger.LogInformation("HandleValidSubmit called");
        await queue.SendMessageAsync(person, "personqueue");
        person = new PersonModel();

    }
}
